body {
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
}

.menu-container, .contact-info {
    background-color: lightblue;
    margin: auto 100px;
    padding: 20px;
}

hr {
    border: none; /* Removes the default border */
    border-top: 1px solid red; /* Sets the color and style of the top border */
      
}